 @import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
  * {   font-family: "Play", sans-serif; }
  html,body {
    margin:0; padding:0;
     /* background:#00406e; */
     /* background:#00406e; */
    width:100%; 
    height:100dvh;
    display:flex;
     justify-content:center;
      align-items:center;
  }
   body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

  }
  #gameContainer {
    width:100%; height:100%;
     background-image: url('framehomeBg.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* text-align: center; */
  
    }
    .btn_top_left{
      position:absolute;
      border: none;
      background-color: transparent;
      width: 50%;
      left: 0;
      min-height: 6%;
      
      
    }
    .btn_top_left img ,  .btn_top_right img {
      width: 5%;

    }
      .btn_top_right{
      position:absolute;
      border: none;
      background: transparent;
       /* background-color: #5d0101; */
      width: 50%;
      right: 0;
      min-height: 6%;

    }
    /* #gameContainer_child{
      max-width: calc(100% - 128px);
      max-height: calc(100% - 360px);
      margin-left: 64px;
      margin-top: 180px;
    } */
        #gameContainer_child{
     max-width: calc(90% + 5px);
    max-height: calc(80% + 5px);
    margin-left: 5%;
    margin-top: 4.5%;
    }
    @media screen and (min-height:1285px) {
         #gameContainer_child{
             max-width: calc(100% - 20px);
        max-height: calc(100% - 256px);
        margin-left: 11px;
        margin-top: 129px;
    }
    }